/* Header and Navigation bar */
body {
font-family: 'Poppins', sans-serif;
font-family: 'Sen', sans-serif;
}

.announcement {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "announcement";
  height: 100%;
  text-align: center;
  width: 100%;
  background: #C3ABB1;
  color: white;
  font-family: Sen;
  margin: 0;
  padding: 0;
  vertical-align: text-bottom;
  font-size: 18px;
  justify-content: space-between;
}

.announcement p {
  grid-area: announcement;
  justify-self: center;
}


.form-inline {
    vertical-align: top;
    grid-area: announcement;
    justify-self: flex-end;
}

#header{
  background-image: url(../images/LogoAndShoppingCart.png);
  background-color: white;
  background-repeat: no-repeat;
  height: calc(22vh - 5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.customNav {
  position: relative;
  width: 100%;
  background-color: white !important;
  background-size: fill;
  z-index: 10;
}

.navbar-nav {
  color: #574668;
  font-size: 24px;
  font: bold;
  margin: auto;
  padding: auto;
}


.nav-item {
  padding: 60px;
  margin: 10px;
  font-family: Sen;
  color: #574668 !important;
}
















































/* Hero and Cards */

.hero {
  background-image: url(../images/Hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 621px;
  width: 100vw;
}

.head1 {
  font-family: Sen;
  font-size: 90px;
  margin-bottom: 25px;
  color: #574668;
  margin-top: -45px;
  line-height: 1.5;
  margin-bottom: 18px;
}

.shopNowBtn {
  height: 58px;
  width: 247px;
  background-color: #C3ABB1;opacity: .9;
  color: #574668;
  text-align: center;
  font-size: 30px;
  border-radius: 13px;
  border-width: 2px;
  border-color: #574668;
  outline-width: .75px;
  padding-top: 5px;
  vertical-align: center;
}

.collections {
  margin-bottom: 30px;
  margin-top: 50px;
}

.ourCollections {
  font-family: Sen;
  font-size: 72px;
  text-align: center;
  color: #574668;
}

.collectionCards {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-around;
  margin-bottom: 75px;
}

.card {
  border: none;
}

































































































/* Blog and Who's Junko */
.whosjunko{
  background-image: url(../images/whois.png);
  background-size: cover;
  background-repeat: no-repeat;

}


































































































/* Footer */













